body{
    color: #000;
}
.start-img{
    width: 400px;
}

.leaf-list{
    margin-left: 30px;
    list-style-image: url('leaf-list-ico.png');
}

.to-upper {
        text-transform: uppercase;
}

.small-caps{
    font-variant: small-caps;
}

.link-text{
        color: #000;
    font-weight: 500;
    text-transform: uppercase;
}
.link-text:hover {
    color: #6cbb23;
}
.link-text-upper{
        color: #000;
    font-weight: 500;
    text-transform: uppercase;
}
.link-text-upper:hover {
    color: #6cbb23;
}

.footer-link-text li{
    margin-top: 8px;
    margin-left: 20px;
    list-style-image: url('icons/leaf-list-ico.png');
}
.footer-link-text a{
     color: #000;
    font-weight: 500;
    text-transform: uppercase;
}
.footer-link-text a:hover {
    color: #6cbb23;
}

.feature-list li{
    margin-top: 8px;
    margin-left: 22px;
    list-style-image: url('icons/leaf-list-ico.png');
}
.feature-list a{
     color: #000;
    font-weight: 500;
    text-transform: uppercase;
}
.feature-list a:hover {
    color: #6cbb23;
}

.green-text{
    color: #6cbb23;
}

.text-center{
    
}

.product-desc{
     font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: #000;
    font-size: 14px;
}
.product-features{
    
}

.menu-items a{
    font-size: 1.5em;
    margin: 10px 25px;
    border-bottom: solid;
}

.menu-items a{
    font-size: 1.5em;
    margin: 10px 25px;
    border-bottom: solid;
}

.menu-bar span {
    color: #000;
    font-size: 44px;
    
}

.input-box{
    border: 2px solid white;
}

.my-breadcrum li{
     font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    
}
.my-breadcrum a {
   
    color: #000;
    margin: 0 5px;
    display: inline-block;
    list-style: none;
    text-decoration: none;
    outline: 0;
}
 .my-breadcrum a:hover {
    color: #6cbb23;
}
.breadcrumb-item.active {
    color: #6cbb23;
}
.breadcrumb-item+.breadcrumb-item::before {
    
    content: ">";
}